/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --bg-color-dark: color(display-p3 0.13 0.13 0.13 / 1);
  --bg-color-light: #ececec;
  --color-one: #3d5a80;
  --color-two: #98c1d9;
  --color-three: #e0fbfc;
  --color-four: #ee6c4d;
  --color-five: #293241;
  --button-color-light: #ececec;
  --button-color-dark: #ececec;
  --button-color-hover: #293241;
}
/* --bg-color-dark: color(display-p3 1 0 0.331); */
#root {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  color: var(--bg-color-light);
  background-color: var(--bg-color-dark);
  padding: 0 0.625rem;
  min-height: 100vh;
  min-height: 100dvh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: var(--bg-color-light);
}

html,
html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.font-light {
  color: var(--bg-color-dark);
  -webkit-text-fill-color: var(--bg-color-dark);
}

.font-dark {
  color: var(--bg-color-light);
  -webkit-text-fill-color: var(--bg-color-light);
}

p,
h3,
h4 {
  font-family: "Lusitana";
}

h1,
h2 {
  font-family: "Raleway";
}
a {
  color: var(--bg-color-light) !important;
  text-decoration: none !important;
}

.scroll-container {
  position: relative !important;
}

.dropdown-menu li > a {
  color: white;
}
.dropdown-menu > li {
  padding: 5px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.dropdown-menu li > a:hover {
  background: white;
}

.spacer {
  height: 5vh;
  height: 5dvh;
}

.spacer-small {
  height: 2vh;
  height: 2dvh;
}

.spacer-xsmall {
  height: 15px;
}

.round-button {
  height: fit-content !important;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  transition: 0.5s;
}

.round-button:hover {
  height: fit-content !important;
  border-radius: 25px;
  background-color: var(--bg-color-dark);
  border-color: beige;
  color: beige;
  padding: 10px 20px 10px 20px;
  transition: 0.5s;
}

.main-container {
  background-color: var(--bg-color-dark);
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  min-height: 100dvh;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}
