@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-dark: color(display-p3 0.13 0.13 0.13 / 1);
  --bg-color-light: #ececec;
  --color-one: #3d5a80;
  --color-two: #98c1d9;
  --color-three: #e0fbfc;
  --color-four: #ee6c4d;
  --color-five: #293241;
  --button-color-light: #ececec;
  --button-color-dark: #ececec;
  --button-color-hover: #293241;
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}
/* --bg-color-dark: color(display-p3 1 0 0.331); */
#root {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  color: var(--bg-color-light);
  background-color: var(--bg-color-dark);
  padding: 0 0.625rem;
  min-height: 100vh;
  min-height: 100dvh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: var(--bg-color-light);
}

html,
html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.font-light {
  color: var(--bg-color-dark);
  -webkit-text-fill-color: var(--bg-color-dark);
}

.font-dark {
  color: var(--bg-color-light);
  -webkit-text-fill-color: var(--bg-color-light);
}

p,
h3,
h4 {
  font-family: var(--font-lusitana);
}

h1,
h2 {
  font-family: var(--font-raleway);
}
a {
  color: var(--bg-color-light) !important;
  text-decoration: none !important;
}

.scroll-container {
  position: relative !important;
}

.dropdown-menu li > a {
  color: white;
}
.dropdown-menu > li {
  padding: 5px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.dropdown-menu li > a:hover {
  background: white;
}

.spacer {
  height: 5vh;
  height: 5dvh;
}

.spacer-small {
  height: 2vh;
  height: 2dvh;
}

.spacer-xsmall {
  height: 15px;
}

.round-button {
  height: fit-content !important;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  transition: 0.5s ease-in;
  background-color: rgba(255, 166, 0, 0.716);
  border: rgba(255, 166, 0, 0.716) solid 2px;
}

.round-button:hover {
  height: fit-content !important;
  border-radius: 25px;
  background-color: var(--bg-color-light);
  border: rgba(255, 166, 0, 0.716) solid 2px;
  color: black;
  padding: 10px 20px 10px 20px;
  transition: 0.5s ease-out;
}

.main-container {
  background-color: var(--bg-color-dark);
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: 0 auto;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.contact-text-area {
  max-width: 600px;
  width: 100%;
  height: 150px;
  font-size: 1.125rem;
  font-family: raleway;
  padding: 0.25rem;
}

.input {
  max-width: 600px;
  width: 100%;
}

.submit-btn-col {
  text-align: center;
}

.interface-spacer-xsmall {
  height: 0.25vh;
}

.interface-label {
  font-size: 1.75rem;
}

.input {
  font-family: raleway;
  font-size: 1.125rem;
  padding: 0.25rem;
}

.contact-title {
  font-size: clamp(1.5rem, 1.2115rem + 1.5385vw, 2.75rem);
}

.contact-header {
  font-size: clamp(1.5rem, 0.9231rem + 3.0769vw, 4rem);
}

.email-sent {
  color: yellow;
}

.email-confirmation {
  color: green;
}

.form-container {
  margin: 0 auto;
  max-width: 800px;
}

#contact-form {
  width: 500px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose h2,
h3,
h4 {
  @apply font-medium tracking-tighter !important;
}

.prose strong {
  @apply font-medium;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}
