.portfolio-h1 {
  display: flex;
  flex-direction: column;
  font-family: var(--font-lusitana);
  font-style: italic;
  font-weight: 400;
  font-size: clamp(2.875rem, 0.125rem + 13.75vw, 12.5rem);
  text-align: center;
  text-transform: uppercase;
  color: var(--bg-color-light);
  justify-content: center;
}

.portfolio-section {
  display: flex;
  justify-content: center;
  height: calc(100vh - 5.75rem);
}

.portolio-details {
  border-top: 0.0625rem solid #c6c0c4;
  width: 100%;
}

.showcased-p {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: var(--font-raleway);
  padding-top: 1rem;
  text-transform: uppercase;
}

.showcased-h3 {
  padding-top: 1rem;
  font-size: 2rem;
  font-style: normal;
  text-transform: uppercase;
  font-family: var(--font-raleway);
  font-weight: 300;
}

.showcased-list {
  padding-left: 1rem;
  font-size: 1.25rem;
  font-family: var(--font-raleway);
  font-weight: 300;
}

.portfolio-about-list {
  font-style: normal;
  text-transform: uppercase;
  font-family: var(--font-raleway);
  font-weight: 300;
  padding-left: 1rem;
}

.portfolio-hero,
.portfolio-screen {
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  width: 100%;
  border-radius: 0.75rem;
}

.portfolio-main-section {
  flex-direction: column;
  gap: 0.625rem;
  border-top: 0.0625rem solid #c6c0c4;
}

.portfolio-h2 {
  padding: 0.25rem;

  text-transform: uppercase;
  font-family: var(--font-lusitana);
  font-size: clamp(1.5rem, 1.0092rem + 2.454vw, 4rem);
}

.portfolio-p {
  padding: 0.5rem;
  text-transform: uppercase;
  font-family: var(--font-raleway);
  font-size: clamp(1rem, 0.9018rem + 0.4908vw, 1.5rem);
}
.portfolio-font-noto {
  text-transform: uppercase;
  font-family: var(--font-noto-sans);
  font-size: clamp(1.5rem, -2.1319rem + 18.1595vw, 20rem);
}

.portfolio-font-rale {
  text-transform: uppercase;
  font-family: var(--font-raleway);
  font-size: clamp(1.5rem, -2.1319rem + 18.1595vw, 20rem);
}

.portfolio-font-nunito {
  text-transform: uppercase;
  font-family: var(--font-nunito);
  font-size: clamp(1.5rem, -2.1319rem + 18.1595vw, 20rem);
}

.portfolio-font-lusi {
  text-transform: uppercase;
  font-family: var(--font-lusitana);
  font-size: clamp(1.5rem, -2.1319rem + 18.1595vw, 20rem);
}

.portfolio-font-cabin {
  text-transform: uppercase;
  font-family: var(--font-cabin);
  font-size: clamp(1.5rem, -2.1319rem + 18.1595vw, 20rem);
}

.portfolio-font-segoe {
  text-transform: uppercase;
  font-family: "Segoe", sans-serif;
  font-size: clamp(1.5rem, -2.1319rem + 18.1595vw, 20rem);
}

.portfolio-li {
  text-transform: uppercase;
  font-family: var(--font-lusitana);
  font-size: clamp(1rem, 0.9018rem + 0.4908vw, 1.5rem);
}

.experience-card {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 0.625rem;
  display: flex;
  flex-direction: column;
}

.portfolio-about-h4 {
  padding-top: 1rem;
}

.portfolio-grid {
  display: flex;
  align-items: top;
  flex-wrap: wrap;
  gap: 16px;
}

.portfolio-container {
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-basis: 450px;
}

.showcase-card-container {
  height: auto;
  width: 100%;
  border-radius: 1rem;
}
