.footer-grid {
  display: grid;
  grid: auto / auto auto auto auto auto;
}

.footer-container {
  width: 50%;
  margin: 0 auto;
}

.footer-header {
  color: var(--bg-color-light);
  text-align: center;
}

.copyright-text {
  color: var(--bg-color-light);
  font-weight: 200;
  font-family: raleway;
  font-size: clamp(1rem, 0.8037rem + 0.9816vw, 2rem);
  /* margin-left: 1rem; */
  transition: 0.25s;
}
.copyright-text:hover {
  color: grey;
  cursor: pointer;
  transition: 0.25s;
}

.social-icon {
  color: var(--bg-color-light);
  height: 50px;
  width: 50px;
  transition: 0.25s;
}

.social-icon:hover {
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 0.25s;
}

.copyright-container,
.social-icon-col {
  text-align: center;
}

.social-icon-div {
  margin: 0 auto;
}
